*{
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
}
body{
    height:100vh;
    
}
.purple{
    background-image:linear-gradient(to left bottom,hsl(283, 100%, 63%),hsl(264, 100%, 61%));
    height:880px;
    width:39%;
    left:-215px;
    border-radius:0 0 50% 50%;
    position: fixed;
    z-index:-1;
    
}
.faded{
    background-color:hsla(269, 100%, 72%, 0.068);
    height:800px;
    width:40%;
    right:-280px;
    bottom:0;
    border-radius:50% 50% 0 0;
    position: fixed;
    z-index:-1;
}
.main-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    width:1000px;
    gap:20%;
    margin:0 10px 0 40px;
     
}
.phone-container{
    
    background-color:hsl(270, 20%, 96%);
    box-shadow:10px 10px 30px 10px hsla(0, 5%, 4%, 0.212);
    border-radius:25px;
    height:650px;
    width:300px;
    outline:15px solid white;
    position: relative;
    
    
}
.top{
    background-image:linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height:15%;
    border-radius:25px 25px 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    
}
.text-container h1{
    color:hsl(271, 36%, 24%);
    font-size:3rem;
    font-weight:500;
}
.text-container p{
    color:hsl(270, 7%, 64%);
    line-height:2rem;
    font-size:18px;
}

.white-box{
   background-color:white;
   width:60%;
   height:25%;
   border-radius:0 0 20px 20px;
   position: absolute; 
}
.contact-box{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1.5rem;
}
.contact{
    display: flex;
    align-items: center;
    gap:0.7rem;
    color:white;

}
.info span{
    font-weight:500;
    font-size:15px;
}
.info p{
    font-size:10px;
    opacity:0.5;
}
.info{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}


.avatar{
    height:2rem;
}
.avatar img{
    height:100%;
    border: 1px solid white;
    border-radius: 50%;
}
.svg{
    filter:invert(1);
    height:0.8rem;
}

.type-bar-container{
    position: absolute;
    bottom: 5px;
    width:100%;
    height:10%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.type-bar{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding:8px 10px 8px 20px ;
    border-radius: 25px;
}
.type-bar>span{
    color: hsl(270, 7%, 64%);
    font-size:13px;
    margin-left:10px; 
}
.send-arrow {
    background-color:hsl(271, 36%, 24%);
    width:2rem;
    height:2rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.send-arrow span{
    font-weight:900;
    color:white;
    font-size:20px;
}

.content{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.chat-1 ,.chat-2 ,.chat-3{
    display: flex;
    flex-direction: column;
    width:92%;
    gap:10px;
    
}
.text-purple{
    color:hsl(276, 55%, 52%);
    width:57%;
    font-size:11px;
    background-color:hsl(269, 28%, 84%,0.5);
    padding:10px;
    border-radius:15px 15px 15px 5px;
}
.chat-2{
    align-items: flex-end;
}
.dog-img{
    display:flex;
    gap:10px;
}
.dog-img img{
    width:55px;
    border-radius:12px;
}
.text-white{
    color:hsl(271, 15%, 43%);
    font-size:11px;
    background-color:white;
    padding:10px;
    border-radius:15px 15px 5px 15px;
    max-width:57%;
    box-shadow:1px 1px 10px 1px hsla(0, 5%, 4%, 0.062);
}
.price{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-image:linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    padding:12px 10px 12px 10px;
    border-radius:15px 15px 15px 5px;

}
.option{
    display: flex;
    align-items: center;
    gap:10px;
}
.circle{
    height:0.9rem;
    width:0.9rem;
    border-radius:50%;
    border:1px solid hsla(0, 0%, 100%, 0.527);
}
.option span{
    font-size:11px;
    opacity: 0.9;
}
.price>span{
    font-weight:700;
    font-size:15px;
    margin-right:10px;
}

@media(max-width:900px){
    .purple{
        top:0;
        height:600px ;
        left:-100px;
        max-width:100px;
        min-width:70%;
    }
    .faded{
        right:-200px;
        max-width:80%;
        height:450px;
        max-width:100px;
        min-width:70%;
    }
    .main-container{
        width:100%;
        margin-top:35%;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7rem;
        margin:0px 10px;
        margin-top:300px;
        
    }
    .text-container{
        width:90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom:50px;
        
    }

}